<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        Hi, I am Sajal Shrestha. And I build things on web. <br/>
        It uses data from mapbox.com and darksky.net!
    </div>
    
    {{>footer}}
</body>

</html>